{% extends 'base.html.njk' %}

{% block body %}
<h1>Most Liked Fossils</h1>

    <form id="name-form" action="/get-name" method="POST">
      <div>
        <label for="namefield">What's your name?</label>
        <input id="namefield" type="text" name="name" required />
      </div>
      <div>
        <input type="submit" value="Sign In" />
      </div>
    </form>

    <h1>Random Fossil</h1>
    <button id="get-random-fossil">Get Random Fossil</button>
    <div id="random-fossil-image"></div>
    <p id="random-fossil-name"></p>
{% endblock %}